@model IEnumerable<GCDataTier.Models.SkillVolunteer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Skill.SkillCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillLevel.SkillLevelDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Skill.SkillCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer.LastName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SkillLevel.SkillLevelDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SkillVolunteerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SkillVolunteerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SkillVolunteerId })
        </td>
    </tr>
}

</table>
