@model GCWebSite.ViewModels.NPOContact

        <div class="display-label">
            @Html.LabelFor(model => model.NPO.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NPO.Name)
            @Html.ValidationMessageFor(model => model.NPO.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.NPO.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NPO.Description)
            @Html.ValidationMessageFor(model => model.NPO.Description)
        </div>
        
        
        <div class="display-title">
            @Html.LabelFor(model => model.Contact.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Email)
            @Html.ValidationMessageFor(model => model.Contact.Email)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.PhoneNumber)
            @Html.ValidationMessageFor(model => model.Contact.PhoneNumber)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.AddressLine1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.AddressLine1)
            @Html.ValidationMessageFor(model => model.Contact.AddressLine1)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.AddressLine2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.AddressLine2)
            @Html.ValidationMessageFor(model => model.Contact.AddressLine2)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.City)
            @Html.ValidationMessageFor(model => model.Contact.City)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.State)
            @Html.ValidationMessageFor(model => model.Contact.State)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Zip)
            @Html.ValidationMessageFor(model => model.Contact.Zip)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Country)
            @Html.ValidationMessageFor(model => model.Contact.Country)
        </div>


