@model GCDataTier.Models.NPOProject

@{
    ViewBag.Title = "Delete";
}

<h2 class="object-title">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>NPOProject</legend>

    <div class="display-label">
        NPO Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NPO.Name)
    </div>
    <div class="display-label">
        Project Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>
    <div class="display-label">
         Project Type
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Type)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
