@model GCDataTier.Models.NPOProject

@{
    ViewBag.Title = "Details";
}

<h2 class="object-title">Details</h2>

<fieldset>
    <legend>NPOProject</legend>

    <div class="display-label">
        NPO Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NPO.Name)
    </div>
    <div class="display-label">
        Project Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>
    <div class="display-label">
         Project Type
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NPOProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
