@model GCDataTier.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Volunteer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SignUpPartyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignUpPartyId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SignUpDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignUpDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.VolunteerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
