@model GCDataTier.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Volunteer</legend>

    <h2 class="object-title">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

    <div class="display-label">
        Attendee ID
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignUpPartyId)
    </div>

    <div class="display-label">
         Sign-Up Date
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignUpDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.VolunteerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
