@model GCWebSite.ViewModels.NPOContact

@{
    ViewBag.Title = "Add a Non-Profit Organization";
}

<h2 class="object-title">Add a Non-Profit Organization</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NPO</legend>
        
        @Html.Partial("NPOContact",Model)
        @*        <div class="display-label">
            @Html.LabelFor(model => model.NPO.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NPO.Name)
            @Html.ValidationMessageFor(model => model.NPO.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.NPO.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NPO.Description)
            @Html.ValidationMessageFor(model => model.NPO.Description)
        </div>
        
        
        xxxxxxxxxxxxxxxxxxxxxxxx
               <div class="display-label">
            @Html.LabelFor(model => model.Contact.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Email)
            @Html.ValidationMessageFor(model => model.Contact.Email)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.PhoneNumber)
            @Html.ValidationMessageFor(model => model.Contact.PhoneNumber)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.AddressLine1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.AddressLine1)
            @Html.ValidationMessageFor(model => model.Contact.AddressLine1)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.AddressLine2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.AddressLine2)
            @Html.ValidationMessageFor(model => model.Contact.AddressLine2)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.City)
            @Html.ValidationMessageFor(model => model.Contact.City)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.State)
            @Html.ValidationMessageFor(model => model.Contact.State)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Zip)
            @Html.ValidationMessageFor(model => model.Contact.Zip)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Contact.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Country)
            @Html.ValidationMessageFor(model => model.Contact.Country)
        </div>*@

        

        <p>
            <input type="submit" value="Add"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List of all Non-Profits", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
