@model IEnumerable<GCDataTier.Models.NPO>

@{
    ViewBag.Title = "Index";
}

<h2 class="object-title">All Non-Profit Organizations</h2>
<p class="text-container">All non-profit organizations are listed on this page.</p>
<div class="action-link-container">
    @Html.ActionLink("Add a Non-Profit Organization", "Create", null, new { @class = "action-link" } )
</div>
<table class="table-container">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NPOID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NPOID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NPOID })
        </td>
    </tr>
}

</table>
